<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml"
>
<head>
    <title>Hello World!</title>
</head>
<body>
<h1 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</h1>
<form th:action="@{/logout}" method="post">
    <input type="submit" value="Sign Out"/>
</form>

<h3>Session Id</h3>
<p th:text="${#httpSession.id}"/>

<h3>Hits</h3>
<p th:text="${#httpSession.getAttribute('hits')}"/>

<div th:if="${beans.containsKey('hazelcastInstance')}">
    <hr/>
    <div style="color:blue">
        <p th:text="'Cluster member ' + ${@hazelcastInstance}"/>
    </div>
    <hr/>
</div>
<div th:unless="${beans.containsKey('hazelcastInstance')}">
    <hr/>
    <div style="color:red">
        <p>No Hazelcast @Bean</p>
    </div>
    <hr/>
</div>
</body>
</html>
