<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Spring Security Example</title>
</head>
<body>
<h1>Welcome!</h1>

<p>Click <a th:href="@{/hello}">here</a> to see a greeting.</p>

<h3>Session Id</h3>
<p th:text="${#httpSession.id}"/>

<h3>Hits</h3>
<p th:text="${#httpSession.getAttribute('hits')}"/>

<div th:if="${beans.containsKey('hazelcastInstance')}">
    <hr/>
    <div style="color:blue">
        <p th:text="'Cluster member ' + ${@hazelcastInstance}"/>
    </div>
    <hr/>
</div>
<div th:unless="${beans.containsKey('hazelcastInstance')}">
    <hr/>
    <div style="color:red">
        <p>No Hazelcast @Bean</p>
    </div>
    <hr/>
</div>
</body>
</html>
